/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure html and body take full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    background-image: linear-gradient(to right, #084F54, #8a1919);
    flex-direction: column;
}

/* General container styles */
body {
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-style: italic;
    line-height: 1;
    font-weight: 700;
}

.navigation {
    flex-shrink: 0;
    background-image: linear-gradient(to right, #084F54, #8a1919);
    text-align: right;
    padding: 1em;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10; /* Ensure the navigation bar stays on top */
}

/* Styles for .box1 h2 */
.box1 h2 {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 700; 
}

/* Styles for .content */
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 4em; /* Adjust margin to account for the fixed navbar */
}

/* Styles for .box1 */
.box1 {
    display: flex;
    height: 80vh;
    background-image: linear-gradient(to right, #084F54, #8a1919);
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Styles for .footer */
.footer {
    flex-shrink: 0;
    background-color: white;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    left: 0;
    bottom: 0;
    position: fixed;
    padding-bottom: 1rem;
}

.footer-links li {
    padding-top: 1rem;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.footer-links li a {
    border: .1rem solid #084F54;
    border-radius: 3rem;
    display: block;
    padding: 1rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #084F54;
}

.footer-links li a:hover {
    border: .1rem solid #084F54;
    border-radius: 3rem;
    display: block;
    padding: 1rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    background-color: #084F54;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #white;
    font-style: italic;
    line-height: 1rem;
}

/* Styles for .box1 .section1 */
.box1 .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content horizontally */
}

.box1 .section1 .homeText {
    margin: 0;
    display: flex;
    line-height: 2;
    flex-wrap: nowrap;
    height: max-content;
    width:110vh;
    padding-right: 1vh;
    padding: auto;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    flex-direction: column; /* Stack items vertically */
}

.childText {
    padding-top: 0;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profilePic {
    height: 30vh;
    justify-self: center;
}

.nav-links li {
    display: inline-block;
    padding-left: 2em;
    padding-right:2em;
    padding-top:1em;
}

.nav-links li a {
    border: .1em solid white;
    border-radius: 3em;
    display: block;
    width: 15vh;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    text-align: center;
    padding-top: 1em;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
}

.nav-links li a:hover {
    border: .1em solid white;
    border-radius: 3em;
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    text-align: center;
    padding-top: 1em;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #8A1919;
    background-color: white;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1; 
    font-style: italic;
}

#logo {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 0;
    font-weight: 700;
    padding-left: .5rem;
    align-self: center;
}

#gmail, #linkedIn, #github {
    width: 1.4rem;
}

.box2 {
    display: flex;
    flex-direction: column;
    height: 80vh; /* Ensures box2 has a fixed height */
    background-image: linear-gradient(to right, #084F54, #8a1919);
    justify-content: center;
    align-items: center;
    margin:1;
    padding-top:10%;
    padding-bottom:10%;
    overflow-y: auto; /* Enables vertical scrolling */
}

.box2 .section1 {
    padding-top:80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center content horizontally */
}

.box2 .section1 a {
    color: white;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.box2 .section1 .ImageLeft {
    padding-top:10%;
    align-items: center;
    justify-content: center;
}

.box2 .section1 .ImageLeft h3 {
    size: 1rem;
}

h4 {
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1;
    font-weight: 700;
    padding-left: .5rem;
    align-self: center;
}

.box2 .section1 .intro-text {
    width: 40%;
    padding-top:10%;
    size: 1.5rem;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
}

.box2 .resume {
    padding-top: 2rem;
}

details {
    border: 1px solid white;
    border-radius: 40px;
    padding: 50px 20px;
    font-family: "Lato", san-serif;
    background-color: #8A1919;
    margin: 50px;
    width: 60vw;
}

details:not([open]):hover,
details:not([open]):focus {
    color: #8A1919;
    border-radius: 40px;
    background: white;
    width: 60vw;
}

details[open] {
    border: 1px solid #BEE3DB;
    border-radius: 40px;
    width: 60vw;
    background-color: #BEE3DB;
    color: #084F54;
}
